.inner-footer {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 50px;
}

.wrap-logo {
    min-width: 110px;
    height: 110px;
    object-fit: cover;
    margin: 0 200px 25px 25px;
}
.logo {
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
}
.detail-items {
    display: flex;
}
.item {
    margin-bottom: 20px;
}

.title {
    color: var(--main-light-color);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.content {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--main-font-coffee);
}

//responsive tablet
@media only screen and (max-width: 1024px) {
    .content {
        padding-right: 20px;
    }
}
//responsive mobile
@media only screen and (max-width: 768px) {
    .inner-footer {
        display: flex;
        flex-direction: column;
        .content {
            padding-right: 10px;
        }
    }
}
