.home-content {
    width: 100%;
    padding-top: 200px;
}
.wrapper-intro-img {
    width: 100%;
    display: flex;
    justify-content: center;
    .intro-img {
        width: 303px;
        height: 303px;
    }
}

.intro {
    width: 100%;
    height: 100%;
    .intro-text {
        color: var(--main-gray-light);
        margin-bottom: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading-title {
        font-size: 32px;
        font-family: iCielIdealSans, sans-serif;
    }
    .heading {
        font-family: var(--main-font-coffee);
        line-height: 45px;
        font-size: 32px;
        margin: 0;
        font-weight: 600;
    }
}

.text-center {
    margin-top: 0;
    margin-bottom: 22px;
    text-align: center;
    color: var(--main-light-color);
    font-family: var(--main-font-coffee);
}

.wrapper-button-next {
    width: 100%;
    display: flex;
    justify-content: center;
}
.button-next-img {
    width: 45px;
    height: 45px;
    &:hover {
        cursor: pointer;
    }
}

.wrap-video {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 155px;
    .video-intro {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        right: 0;
    }
}

//responsive mobile
@media only screen and (max-width: 768px) {
    .intro {
        .intro-text {
            padding: 0 20px;
            .heading {
                display: flex;
                justify-content: center;
                font-size: 2rem;
            }
        }
    }
}
