.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .height-number {
        color: var(--main-light-color);
        font-size: 1.6rem;
        font-weight: 400;
    }
}
