.header-inner {
    width: 100%;
    display: flex;
    z-index: 100;
    align-items: center;
    position: relative;
    .wrapper-logo {
        max-width: 130px;
        max-height: 97px;
        margin-left: 100px;
        margin-top: 20px;
        flex: 1;
        object-fit: cover;
        background-color: transparent;
        position: relative;
    }
    .wrapper-logo::before {
        content: '';
        top: 90%;
        right: 140%;
        width: 48px;
        border-top: 1px solid var(--main-light-color);
        position: absolute;
    }

    .logo {
        width: 100%;
    }
}

//menu

.menu-wrap {
    z-index: 99;
    height: 56px;
    margin-top: 10px;
    margin-left: 80px;
    flex: 2;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-light-color);
    position: relative;
}

//menuitem
.menu-item {
    height: 100%;
    border-right: 1px solid var(--main-light-color);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    &:hover .submenu-list {
        display: block;
    }
    .menu-item:last-child {
        border: none;
    }

    .title {
        color: var(--main-light-color);
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-size: 16px;
        font-family: var(--main-font-coffee);
        font-weight: 600;
        text-transform: uppercase;
    }
}

//submenu

.submenu-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 450px;
    width: 100%;
    z-index: 98;
}
.submenu-list {
    background-color: var(--main-gray-light);
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-left: 300px;
    display: none;
    animation: fadeOut 0.3s linear;

    .submenu-heading {
        color: var(--main-light-color);
        font-size: 40px;
        margin-bottom: 20px;
    }
    &.active {
        display: block;
    }
    .items {
        line-height: 30px;
        font-size: 1.6rem;
        color: #333;
        display: block;
    }

    .items:hover {
        cursor: pointer;
        color: black;
        font-size: 1.8rem;
        font-weight: 600;
    }
}

//animation
@keyframes fadeOut {
    from {
        transform: translateY(-70px);
    }
    to {
        transform: translateY(0);
    }
}

// btn bar menu tablet
.btn-menu {
    display: none;
}

//hover menu
@media only screen and (max-width: 1024px) {
    .header-inner {
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 100;
        align-items: center;
        justify-content: center;
        position: relative;
        .wrapper-logo {
            width: 88px;
            height: 66px;
            margin: 0;
            flex: 1;
            object-fit: cover;
            background-color: transparent;
            position: relative;
            .logo {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            &::before {
                display: none;
            }
        }
    }

    .btn-menu {
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 20px;
        top: 15px;
        background-color: var(--main-site-background);
        border: none;

        .bars-icon {
            width: 100%;
            height: 100%;
            color: var(--main-light-color);
        }
        .xmark-icon {
            width: 100%;
            height: 100%;
            color: var(--main-light-color);
        }
    }

    // tablet menu
    .tablet-menu {
        width: 350px;
        padding-top: 88px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: var(--main-gray-light);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        .tablet-menu-item {
            width: 100%;
            height: 90px;
            display: flex;
            align-items: center;
            border-top: 1px solid var(--main-light-color);
            .tablet-menu-title {
                color: var(--main-site-bakground);
                font-size: 16px;
                font-family: var(--main-font-coffee);
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
        &.active-tablet-menu {
            display: block;
            animation: fadeOutMenu 0.5s ease;
        }
    }
    //animation
    @keyframes fadeOutMenu {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateY(0);
        }
    }

    .menu-wrap {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .wrapper-logo {
        width: 88px;
        height: 66px;
        margin: 0;
        flex: 1;
        object-fit: cover;
        background-color: transparent;
        position: relative;
        .logo {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &::before {
            display: none;
        }
    }
}
